@{
    string? sAction = this.Context.Request.Query["Action"];

    if (sAction == "NewRequest")
        ViewData["Title"] = "New Request";

    if (sAction == "EditRequest")
        ViewData["Title"] = "Edit Request";
}

<div align="center">
    <br />
    <div style="width: 600px">
        <div style="background-color: rgb(35, 35, 35); border-radius: 16px">
            <br />
            @{
                if (sAction == "NewRequest")
                {
                    <img src="~/images/new-icon-large.png" height="180" />
                }

                if(sAction == "EditRequest")
                {
                    <img src="~/images/edit-icon-large.png" height="180" />
                }
            }
            <br />
            <br />
        </div>
        <div style="height: 2rem"></div>

        <h3 align="left">@ViewData["Title"]</h3>
        <br />

        <table style="width: 600px" cellpadding="4">
            <tr>
                <th>Request/Claim for:</th>
                <td><input type="text" value="" style="width: 300px" /></td>
            </tr>
            <tr>
                <th>Hours Worked:</th>
                <td><input type="text" value="" style="width: 200px" /></td>
            </tr>
            <tr>
                <th>Hourly Rate:</th>
                <td><input type="text" value="" style="width: 200px" /></td>
            </tr>
        </table>

        <br />
        <p align="left"><b>Supporting Documents (Size Limit: 10 MB)</b></p>

        <div style="background-color: white">
            <table style="width: 600px">
                <tr style="background-color: rgb(220, 220, 220)">
                    <th>FileName</th>
                    <th>Type</th>
                    <th>Size (MB)</th>
                </tr>
            </table>
            <br />
            <b>No files uploaded.</b>
            <br />
            <br />
        </div>

        <div align="left">
            <button class="button-class button-class-small2">Upload</button>
            <button class="button-class button-class-small2">Delete</button>
            <button class="button-class button-class-small2">Delete All</button>
        </div>
        <br />
        <div align="left">
            <b>Additional Notes (Description)</b>
            <textarea style="width: 600px; height: 200px"></textarea>
        </div>
        <br />
        <div align="right">
            @{
                if (sAction == "NewRequest")
                {
                    <button class="button-class button-class-small" onclick="window.location = '/UserAccount/UserAccount'">Submit</button>
                    <button class="button-class button-class-small" onclick="window.location = '/UserAccount/UserAccount'">Cancel</button>
                }

                if (sAction == "EditRequest")
                {
                    <button class="button-class button-class-small" onclick="window.location = '/UserAccount/UserAccount'">Apply</button>
                    <button class="button-class button-class-small" onclick="window.location = '/UserAccount/UserAccount'">Cancel</button>
                }
            }
        </div>
    </div>
</div>
