@{
    ViewData["Title"] = "TrackRequest";
}

<div align="center">

    <div style="width: 600px">
        <br />
        <div style="background-color: rgb(35, 35, 35); border-radius: 16px">
            <br />
            <img src="~/images/track-icon-large.png" height="180" />
            <br />
            <br />
        </div>
        <div style="height: 2rem"></div>

        <h3>Track Request</h3>
        <div style="height: 0.5rem"></div>

        <div align="center" style="width: 500px; background-color: white; border-color: rgb(35, 35, 35); border-style: solid; border-width: 2px">
            <div style="height: 1rem"></div>
            <table style="width: 80%">
                <tr>
                    <th>Request ID:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Date Submitted:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td></td>
                </tr>
            </table>
            <div style="height: 1rem"></div>
        </div>

        <div style="height: 2rem"></div>
        <button class="button-class button-class-small" onclick="window.location = '/UserAccount/UserAccount'">Close</button>
    </div>
</div>
