@{
    ViewData["Title"] = "Home Page";
}

<div align="center" class="content-background">
    <b>Welcome to the<br /></b>
    <h2>
        Contract Monthly Claim System (CMCS)
    </h2>
    <p>A place for you to submit your claim with us.</p>
    <br />

    <!-- User Credentials-->
    <div align="center" class="homepage-style">
        <br />
        <br />
        <button class="button-class" onclick="window.location = '/Home/UserLogin';">Start Now</button>
    </div>
</div>
