@{
    ViewData["Title"] = "Status";
}

<div align="center" class="content-background">
    @{
        var query = this.Context.Request.Query;

        if (query.Count == 3)
        {
            byte[] messageData = Convert.FromBase64String(query["message"].ToString());
            string messageText = System.Text.Encoding.UTF8.GetString(messageData);
            string request = query["Request"].ToString();

            if (query["result"] == "success")
            {
                <h1>Request succeeded</h1>
                <p>@messageText</p>
                <button onclick="window.location = '@request'">Continue</button>
            }

            if (query["result"] == "fail")
            {
                <h1>Request failed</h1>
                <p>@messageText</p>
                <button onclick="window.location = '@request'">Try Again</button>
            }
        }
    }
</div>