@{
    ViewData["Title"] = "TrackRequest";
}

<div align="center">

    <div align="left" style="width: 800px">
        <h3>Track Request</h3>

        <div style="margin-left: 64px">
            <table style="width: 600px">
                <tr>
                    <th>Request ID:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Date Submitted:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <br />
    <button class="button-class button-class-small" onclick="window.location = '/Home/UserAccount'">Close</button>

</div>
