@{
    ViewData["Title"] = "UpdateUserProfile";
}

<div align="center">
    <div style="width: 600px">
        <br />
        <div style="background-color: rgb(35, 35, 35); border-radius: 16px">
            <br />
            <img src="~/images/account-icon-large.png" height="180" />
            <br />
            <br />
        </div>
    <div style="height: 2rem"></div>

    <h3 align="left">Manage Your Account</h3>
    <br />
    <table style="width: 600px" cellpadding="4">

        <tr>
            <th>User Account Type:</th>
            <td><input type="radio" id="rdLecturer" checked /> Lecturer &nbsp; <input type="radio" id="rdManager" /> Manager (Admin)</td>
        </tr>

        <tr>
            <th>First Name:</th>
            <td><input type="text" style="width: 100%" /></td>
        </tr>

        <tr>
            <th>Last Name:</th>
            <td><input type="text" style="width: 100%" /></td>
        </tr>

        <tr>
            <th>Identity Number (ID):</th>
            <td><input type="text" style="width: 100%" /></td>
        </tr>

        <tr>
            <th>Email Address:</th>
            <td><input type="text" style="width: 100%" /></td>
        </tr>

        <tr>
            <th>Qualification Document(s):</th>
            <td><button class="button-class button-class-small2">Upload</button><span>No file(s) selected</span></td>
        </tr>

        <tr>
            <th>Proof of Identity Document(s):</th>
            <td><button class="button-class button-class-small2">Upload</button><span>No file(s) selected</span></td>
        </tr>

        <tr>
            <th>Password:</th>
            <td><input type="password" value="" style="width: 100%" /></td>
        </tr>

        <tr>
            <th>Confirm Password:</th>
            <td><input type="password" value="" style="width: 100%" /></td>
        </tr>

    </table>
    <br />

    <div align="right" style="width: 600px">
        <button class="button-class button-class-small" onclick="window.location = '/Home/UserAccount'">Update</button>
        <button class="button-class button-class-small" onclick="window.location = '/Home/UserAccount'">Cancel</button>
    </div>
    </div>
</div>

