html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #6d7ba5;
    background-image: url("/images/background1.png");
    background-size: 100vw;
    background-repeat: repeat;
    color: black;
}


.footer, .bg-navbar {
    background-color: #353c51;
    color: white;
}

.menu-display {
    background-color: white;
    height: auto;
}

.request-display {
    color: white;
}

.button-class {
    width: 160px;
    height: 44px;
    background-color: #ae1e1e;
    color: white;
    border-style: solid;
    border-color: darkred;
}

.button-class-small {
    width: 140px;
    height: 36px;
}

.button-class-small2 {
    width: 100px;
    height: 30px;
}

.content-background {

}